
.body{
    background: url(../images/student-bg.jpg) repeat center center fixed;
    background-color: #16a085;
}

.features .glyphicon{
    font-size: 50px;
}

.thead-inverse{
    background-color: #2c3e50;
    color: #ffffff;
}

.panel-primary > .panel-heading {
    font-size: 40px;
    text-align: center;
    background-color: #c0392b;
    color: #ffffff;
}

.btn-primary {
    background-color: #16a085;
    color: #ffffff;
}

.navbar {
    padding-bottom: 10px;
}